################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*Debug
*.DS_Store
*.cproject
*.project
*.settings

