################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*Debug
*.cproject
*.project
*.settings

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store